<div>
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <div ng-show="cart.items.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ci in cart.items">
                <td>{{ci.productTitle}}</td>
                <td>
                    <div class="input-group quantity_goods">
                        <input type="button" class="btn btn-secondary btn-sm" style="margin: 5px" value="-"
                               onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                               ng-click="decrementFromCart(ci.productId)">
                        <input type="number" step="1" min="1" max="99" id="num_count" name="quantity" value={{ci.quantity}}>
                        <input type="button" class="btn btn-secondary btn-sm" style="margin: 5px" value="+" id="button_plus"
                               onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                               ng-click="incrementProductToCart(ci.productId)">
                    </div>
                </td>
                <td>{{ci.price}}</td>
                <td>
                    <a class="btn btn-outline-danger" ng-click="removeFromCart(ci.productId)">Удалить</i></a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Итого:</td>
                <td>{{cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>

        <div class="col-auto">
            <input type="text" class="form-control" id="addressField" ng-model="deliveryInformation.address" placeholder="Адрес доставки">
        </div>
        <p></p>
        <div class="col-auto">
            <input type="text" class="form-control" id="phoneField" ng-model="deliveryInformation.phone" placeholder="Телефон">
        </div>

        <p></p>
        <a class="btn btn-danger btn-sm" ng-click="clearCart()">Очистить корзину <i class="far fa-trash-alt" aria-hidden="true"></i></a>
        <p></p>
        <button class="btn btn-secondary" ng-click="guestCreateOrder()" ng-show="!isUserLoggedIn()">Оформить заказ</button>
        <button class="btn btn-primary" ng-click="createOrder()" ng-show="isUserLoggedIn()">Оформить заказ</button>
    </div>
    <div ng-show="cart.items.length == 0">
        <p>Ваша корзина пуста</p>
    </div>
</div>
